<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> This is the description of my 1st blog. I have created this blog from the VS . I have opened and run the server locally from VS Code using 'python manage.py runserver'. Then I went into the admin interface and created this post.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p> This is the description of my 2nd blog. I have created this blog from the VS Code. I have opened and run the server locally from VS Code using 'python manage.py runserver'. Then I went into the admin interface and created this post.</p>
        </article>
    </body>
</html>